.animate.fadeIn
	p.h1 About

	header.main-page-bg.js-parallax-header
		.container
			// Counters Row
			.counters-row
				// Counter Block
				.counter-block
					p.counter-circle.reveal.bounceIn(data-wow-delay='.1s')
						span.text-big.js-countdown 275
						span
							| тисяч
							br
							| грн.
					p.counter-text.reveal.fadeInUp(data-wow-delay='.2s')
						| Кількість
						br
						| зібраних коштів
				// Counter Block
				.counter-block
					p.counter-circle.reveal.bounceIn(data-wow-delay='.2s')
						span.text-big.js-countdown 24
						span мрії
					p.counter-text.reveal.fadeInUp(data-wow-delay='.3s')
						span
							| Кількість
							br
							| здійснених
							br
							| мрій
				// Counter Block
				.counter-block
					p.counter-circle.reveal.bounceIn(data-wow-delay='.3s')
						span.text-big.js-countdown 17
						span дітей
					p.counter-text.reveal.fadeInUp(data-wow-delay='.4s')
						| Кількість дітей
						br
						| які потребують
						br
						| підтримки
	.container.intro-about-padd
		// Intro Row -- 1
		.row.intro-about-row-1
			.col-sm-8.col-md-7
				.intro-about-text-1
					img(src='img/intro-big-logo.png', alt='')
					p
						| Ми - некомерційна організація, діяльність якої пов’язана з пропагандою освіти, зокрема позашкільної,
						| як основи для добробуту та гармонійного розвитку
						| кожної дитини.
			.col-sm-4.col-md-5
				.clearfix
					img.intro-img-girl(src='img/intro-img-1.png', alt='')
		// Intro Row -- 2
		.row.intro-about-row-2
			.col-sm-8.col-sm-push-4.col-md-6.col-md-push-6
				.intro-about-text-2
					p.h1
						| Ми реалізовуємо та фінансуємо
						br
						| культурні й освітні проекти
					.title-divider.title-divider--pink
					p
						| І завдяки цьому допомагаємо талановитим дітям
						br
						| розвивати свої здібності.
			.col-sm-4.col-sm-pull-8.col-md-6.col-md-pull-6
				img.intro-img-boy(src='img/intro-img-2.png', alt='')
	// Title
	// Sub Title
	// Title -- Center
	// Sub Title -- Center
	// Form Group
	// CARDS
	// initialization
	// Card -- Who Need Help
	// Card -- Event
	// Card -- Product Item
	// Card -- Team Member
	.bg-gray
		.container
			p.h1 Діти які вже отримали нашу підтримку
			.title-divider
			.slider-recived-help
				// Slide
				.recived-help-slide
					// Slide -- Left Part
					// ----------------------------------------------------
					.left-part
						img.recived-help-img(src='img/recived-help_img-circle-1.png', alt='')
						p.recived-help-img-caption Надійка, 6 років
					// Slide -- Right Part
					// ----------------------------------------------------
					.right-part
						// Caption
						p.recived-help-caption
							img.ico-left(src='img/icons/ico-dream-cloud.png', alt='')
							| Мріє стати великою художницею
						// Text
						p.recived-help-text
							| EDUKIDS - некомерційна організація, діяльність якої
							| пов’язана з пропагандою освіти, зокрема позашкільної,
							| як основи для добробуту та гармонійного розвитку кожної дитини.
						// Photos List
						ul.recived-help-photos
							li.recived-help-photo
								.overlay
									img.ico-play(src='img/icons/ico-play.png', alt='')
								a(href='#')
									img(src='img/recived-help_img-small-1.png', alt='')
							li.recived-help-photo
								.overlay
									img.ico-play(src='img/icons/ico-play.png', alt='')
								a(href='#')
									img(src='img/recived-help_img-small-2.png', alt='')
							li.recived-help-photo
								.overlay
									img.ico-play(src='img/icons/ico-play.png', alt='')
								a(href='#')
									img(src='img/recived-help_img-small-3.png', alt='')
				// Slide
				.recived-help-slide
					// Slide -- Left Part
					// ----------------------------------------------------
					.left-part
						img.recived-help-img(src='img/recived-help_img-circle-1.png', alt='')
						p.recived-help-img-caption Надійка, 7 років
					// Slide -- Right Part
					// ----------------------------------------------------
					.right-part
						// Caption
						p.recived-help-caption
							img.ico-left(src='img/icons/ico-dream-cloud.png', alt='')
							| Мріє стати великою художницею
						// Text
						p.recived-help-text
							| EDUKIDS - некомерційна організація, діяльність якої
							| пов’язана з пропагандою освіти, зокрема позашкільної,
							| як основи для добробуту та гармонійного розвитку кожної дитини.
						// Photos List
						ul.recived-help-photos
							li.recived-help-photo
								.overlay
									img.ico-play(src='img/icons/ico-play.png', alt='')
								a(href='#')
									img(src='img/recived-help_img-small-1.png', alt='')
							li.recived-help-photo
								.overlay
									img.ico-play(src='img/icons/ico-play.png', alt='')
								a(href='#')
									img(src='img/recived-help_img-small-2.png', alt='')
							li.recived-help-photo
								.overlay
									img.ico-play(src='img/icons/ico-play.png', alt='')
								a(href='#')
									img(src='img/recived-help_img-small-3.png', alt='')
				// Slide
				.recived-help-slide
					// Slide -- Left Part
					// ----------------------------------------------------
					.left-part
						img.recived-help-img(src='img/recived-help_img-circle-1.png', alt='')
						p.recived-help-img-caption Надійка, 8 років
					// Slide -- Right Part
					// ----------------------------------------------------
					.right-part
						// Caption
						p.recived-help-caption
							img.ico-left(src='img/icons/ico-dream-cloud.png', alt='')
							| Мріє стати великою художницею
						// Text
						p.recived-help-text
							| EDUKIDS - некомерційна організація, діяльність якої
							| пов’язана з пропагандою освіти, зокрема позашкільної,
							| як основи для добробуту та гармонійного розвитку кожної дитини.
						// Photos List
						ul.recived-help-photos
							li.recived-help-photo
								.overlay
									img.ico-play(src='img/icons/ico-play.png', alt='')
								a(href='#')
									img(src='img/recived-help_img-small-1.png', alt='')
							li.recived-help-photo
								.overlay
									img.ico-play(src='img/icons/ico-play.png', alt='')
								a(href='#')
									img(src='img/recived-help_img-small-2.png', alt='')
							li.recived-help-photo
								.overlay
									img.ico-play(src='img/icons/ico-play.png', alt='')
								a(href='#')
									img(src='img/recived-help_img-small-3.png', alt='')
			// Slider Bottom Link
			.text-right.slider-recived-help-btn
				a.btn.btn-arr.btn-arr-pink(href='#')
					| Всі діти
					.ico-arr-right
						svg(xmlns='http://www.w3.org/2000/svg', width='50', height='25.87', viewbox='0 0 50 25.87')
							path(d='M1354,1538h46a2,2,0,0,1,0,4h-46A2,2,0,0,1,1354,1538Zm27.72-10.74,19.1,11.03c0.46,0.26.38,1.25-.17,2.21s-1.37,1.52-1.83,1.25l-19.1-11.03c-0.46-.26-0.39-1.25.17-2.21S1381.26,1526.99,1381.72,1527.26Zm-1.93,22.26,19.1-11.03c0.46-.27,1.28.29,1.83,1.25s0.63,1.95.17,2.21l-19.1,11.03c-0.46.26-1.28-.3-1.83-1.25S1379.33,1549.78,1379.79,1549.52Z', transform='translate(-1352 -1527.19)')
	.padd-join-us.bg-join-us.js-parallax-join_us
		.container
			p.h1.title--white Долучитись до EDUKIDS дуже просто!
			.title-divider.title-divider--blue
			p.text-white
				| Ми віримо, що спільними зусиллями ми зможемо втілити у реальність
				br
				| набагато більше дитячих мрій. Тож, зробимо це разом!
			.row.block-group--join-us
				.col-sm-6.col-md-3
					a.block--join-us.bg-blue.js-ripple(href='#')
						p.h2.text-primary
							| Оплати
							br
							| навчання
							br
							| дитини
				.col-sm-6.col-md-3
					a.block--join-us.bg-rubin-red.js-ripple(href='#')
						p.h2.text-white
							| Стань
							br
							| партнером
							br
							| фонду
				.col-sm-6.col-md-3
					a.block--join-us.bg-pink.js-ripple(href='#')
						p.h2.text-primary
							| Зроби
							br
							| благодійний
							br
							| внесок
				.col-sm-6.col-md-3
					a.block--join-us.bg-primary.js-ripple(href='#')
						p.h2.text-white
							| Придбай
							br
							| товар у нашому
							br
							| магазині
	// Title
	// Sub Title
	// Title -- Center
	// Sub Title -- Center
	// Form Group
	// CARDS
	// initialization
	// Card -- Who Need Help
	// Card -- Event
	// Card -- Product Item
	// Card -- Team Member
	.bg-grey.need-help-padd
		.container
			// Section Title
			p.h1.title Діти які потребують підтримки
			.title-divider
			// Items Grid
			.row.md-grid-animate.row-flex-grid
				.col-sm-6.col-md-4.reveal
					.card-need-help
						// Image
						.card-need-help-img
							img.img-responsive(src='img/need-help-card-img-1.jpg', alt='')
						// Caption
						.card-need-help-caption
							p.card-need-help-title Навчання грі на акордеоні
							p.card-need-help-subTitle Богдан, 4 років, м. Київ
							.card-need-help-description
								// Card Attributes
								.card-expenses
									// Expense + Expense Price
									.text-row-justify
										span.card-muted 4 уроків по 45 хв.:
										span.card-muted 2100 грн.
										span.card-muted Додаткові витрати:
										span.card-muted 1500 грн.
									// Additional Expenses
									span.card-muted + акордеон
									span.card-muted + нотний стан
							// Total
							.text-row-justify.card-total
								span.card-muted Всього:
								p.card-muted
									span.card-price 3600
									| грн
							// Already Gathered
							.text-row-justify.card-progress
								span.card-muted Вже зібрано:
								.progress
									.progress-bar(role='progressbar', aria-valuenow='60', aria-valuemin='0', aria-valuemax='100', style='width: 60%;') 60%
							// Cart Button
							.btn.btn-block.btn-primary Підтримати
				.col-sm-6.col-md-4.reveal
					.card-need-help
						// Image
						.card-need-help-img
							img.img-responsive(src='img/need-help-card-img-2.jpg', alt='')
						// Caption
						.card-need-help-caption
							p.card-need-help-title Навчання грі на акордеоні
							p.card-need-help-subTitle Богдан, 5 років, м. Київ
							.card-need-help-description
								// Card Attributes
								.card-expenses
									// Expense + Expense Price
									.text-row-justify
										span.card-muted 5 уроків по 45 хв.:
										span.card-muted 2100 грн.
										span.card-muted Додаткові витрати:
										span.card-muted 1500 грн.
									// Additional Expenses
									span.card-muted + акордеон
									span.card-muted + нотний стан
							// Total
							.text-row-justify.card-total
								span.card-muted Всього:
								p.card-muted
									span.card-price 3600
									| грн
							// Already Gathered
							.text-row-justify.card-progress
								span.card-muted Вже зібрано:
								.progress
									.progress-bar(role='progressbar', aria-valuenow='60', aria-valuemin='0', aria-valuemax='100', style='width: 60%;') 60%
							// Cart Button
							.btn.btn-block.btn-primary Підтримати
				.col-sm-6.col-md-4.reveal
					.card-need-help
						// Image
						.card-need-help-img
							img.img-responsive(src='img/need-help-card-img-3.jpg', alt='')
						// Caption
						.card-need-help-caption
							p.card-need-help-title Навчання грі на акордеоні
							p.card-need-help-subTitle Богдан, 6 років, м. Київ
							.card-need-help-description
								// Card Attributes
								.card-expenses
									// Expense + Expense Price
									.text-row-justify
										span.card-muted 6 уроків по 45 хв.:
										span.card-muted 2100 грн.
										span.card-muted Додаткові витрати:
										span.card-muted 1500 грн.
									// Additional Expenses
									span.card-muted + нотний стан
							// Total
							.text-row-justify.card-total
								span.card-muted Всього:
								p.card-muted
									span.card-price 3600
									| грн
							// Already Gathered
							.text-row-justify.card-progress
								span.card-muted Вже зібрано:
								.progress
									.progress-bar(role='progressbar', aria-valuenow='60', aria-valuemin='0', aria-valuemax='100', style='width: 60%;') 60%
							// Cart Button
							.btn.btn-block.btn-primary Підтримати
				.col-sm-6.col-md-4.reveal
					.card-need-help
						// Image
						.card-need-help-img
							img.img-responsive(src='img/need-help-card-img-4.jpg', alt='')
						// Caption
						.card-need-help-caption
							p.card-need-help-title Навчання грі на акордеоні
							p.card-need-help-subTitle Богдан, 7 років, м. Київ
							.card-need-help-description
								// Card Attributes
								.card-expenses
									// Expense + Expense Price
									.text-row-justify
										span.card-muted 7 уроків по 45 хв.:
										span.card-muted 2100 грн.
										span.card-muted Додаткові витрати:
										span.card-muted 1500 грн.
									// Additional Expenses
									span.card-muted + акордеон
									span.card-muted + акордеон
									span.card-muted + нотний стан
							// Total
							.text-row-justify.card-total
								span.card-muted Всього:
								p.card-muted
									span.card-price 3600
									| грн
							// Already Gathered
							.text-row-justify.card-progress
								span.card-muted Вже зібрано:
								.progress
									.progress-bar(role='progressbar', aria-valuenow='60', aria-valuemin='0', aria-valuemax='100', style='width: 60%;') 60%
							// Cart Button
							.btn.btn-block.btn-primary Підтримати
				.col-sm-6.col-md-4.reveal
					.card-need-help
						// Image
						.card-need-help-img
							img.img-responsive(src='img/need-help-card-img-5.jpg', alt='')
						// Caption
						.card-need-help-caption
							p.card-need-help-title Навчання грі на акордеоні
							p.card-need-help-subTitle Богдан, 8 років, м. Київ
							.card-need-help-description
								// Card Attributes
								.card-expenses
									// Expense + Expense Price
									.text-row-justify
										span.card-muted 9 уроків по 45 хв.:
										span.card-muted 2100 грн.
										span.card-muted Додаткові витрати:
										span.card-muted 1500 грн.
									// Additional Expenses
									span.card-muted + акордеон
							// Total
							.text-row-justify.card-total
								span.card-muted Всього:
								p.card-muted
									span.card-price 3600
									| грн
							// Already Gathered
							.text-row-justify.card-progress
								span.card-muted Вже зібрано:
								.progress
									.progress-bar(role='progressbar', aria-valuenow='60', aria-valuemin='0', aria-valuemax='100', style='width: 60%;') 60%
							// Cart Button
							.btn.btn-block.btn-primary Підтримати
				.col-sm-6.col-md-4.reveal
					.card-need-help
						// Image
						.card-need-help-img
							img.img-responsive(src='img/need-help-card-img-1.jpg', alt='')
						// Caption
						.card-need-help-caption
							p.card-need-help-title Навчання грі на акордеоні
							p.card-need-help-subTitle Богдан, 9 років, м. Київ
							.card-need-help-description
								// Card Attributes
								.card-expenses
									// Expense + Expense Price
									.text-row-justify
										span.card-muted 9 уроків по 45 хв.:
										span.card-muted 2100 грн.
										span.card-muted Додаткові витрати:
										span.card-muted 1500 грн.
									// Additional Expenses
									span.card-muted + акордеон
							// Total
							.text-row-justify.card-total
								span.card-muted Всього:
								p.card-muted
									span.card-price 3600
									| грн
							// Already Gathered
							.text-row-justify.card-progress
								span.card-muted Вже зібрано:
								.progress
									.progress-bar(role='progressbar', aria-valuenow='60', aria-valuemin='0', aria-valuemax='100', style='width: 60%;') 60%
							// Cart Button
							.btn.btn-block.btn-primary Підтримати
			// Bottom Link
			.text-right
				a.btn.btn-arr.btn-arr-rubin(href='#')
					| Всі діти
					.ico-arr-right
						svg(xmlns='http://www.w3.org/2000/svg', width='50', height='25.87', viewbox='0 0 50 25.87')
							path(d='M1354,1538h46a2,2,0,0,1,0,4h-46A2,2,0,0,1,1354,1538Zm27.72-10.74,19.1,11.03c0.46,0.26.38,1.25-.17,2.21s-1.37,1.52-1.83,1.25l-19.1-11.03c-0.46-.26-0.39-1.25.17-2.21S1381.26,1526.99,1381.72,1527.26Zm-1.93,22.26,19.1-11.03c0.46-.27,1.28.29,1.83,1.25s0.63,1.95.17,2.21l-19.1,11.03c-0.46.26-1.28-.3-1.83-1.25S1379.33,1549.78,1379.79,1549.52Z', transform='translate(-1352 -1527.19)')
	// Title
	// Sub Title
	// Title -- Center
	// Sub Title -- Center
	// Form Group
	// CARDS
	// initialization
	// Card -- Who Need Help
	// Card -- Event
	// Card -- Product Item
	// Card -- Team Member
	.events-grid-padd
		.container
			// Section Title
			p.h1.title Події EDUKIDS
			.title-divider
			// Items Grid
			.row.md-grid-animate.row-flex-grid
				.col-sm-6.col-md-4.reveal
					a.card-event(href='#')
						// Image
						.card-event-img
							img(src='img/event-card-img-1.jpg', alt='')
						// Caption
						.card-event-caption
							.card-event-date-box
								// Date
								.card-event-date
									span 10
									| вересня
							// Title
							p.card-event-text Дуже важлива подія, що відбулась вчора
				.col-sm-6.col-md-4.reveal
					a.card-event(href='#')
						// Image
						.card-event-img
							img(src='img/event-card-img-2.jpg', alt='')
						// Caption
						.card-event-caption
							.card-event-date-box
								// Date
								.card-event-date
									span 12
									| травня
							// Title
							p.card-event-text Заголовок в одну строфу
				.col-sm-6.col-md-4.reveal
					a.card-event(href='#')
						// Image
						.card-event-img
							img(src='img/event-card-img-3.jpg', alt='')
						// Caption
						.card-event-caption
							.card-event-date-box
								// Date
								.card-event-date
									span 14
									| липня
							// Title
							p.card-event-text Заголовок у три строфи, адже такий варіант також може трапитить
				.col-sm-6.col-md-4.reveal
					a.card-event(href='#')
						// Image
						.card-event-img
							img(src='img/event-card-img-4.jpg', alt='')
						// Caption
						.card-event-caption
							.card-event-date-box
								// Date
								.card-event-date
									span 16
									| вересня
							// Title
							p.card-event-text Дуже важлива подія, що відбулась вчора
				.col-sm-6.col-md-4.reveal
					a.card-event(href='#')
						// Image
						.card-event-img
							img(src='img/event-card-img-5.jpg', alt='')
						// Caption
						.card-event-caption
							.card-event-date-box
								// Date
								.card-event-date
									span 24
									| травня
							// Title
							p.card-event-text Заголовок у три строфи, адже такий варіант також може трапитить
				.col-sm-6.col-md-4.reveal
					a.card-event(href='#')
						// Image
						.card-event-img
							img(src='img/event-card-img-6.jpg', alt='')
						// Caption
						.card-event-caption
							.card-event-date-box
								// Date
								.card-event-date
									span 30
									| липня
							// Title
							p.card-event-text Заголовок в одну строфу
			// Bottom Link
			.text-right
				a.btn.btn-arr.btn-arr-rubin(href='#')
					| Всі події
					.ico-arr-right
						svg(xmlns='http://www.w3.org/2000/svg', width='50', height='25.87', viewbox='0 0 50 25.87')
							path(d='M1354,1538h46a2,2,0,0,1,0,4h-46A2,2,0,0,1,1354,1538Zm27.72-10.74,19.1,11.03c0.46,0.26.38,1.25-.17,2.21s-1.37,1.52-1.83,1.25l-19.1-11.03c-0.46-.26-0.39-1.25.17-2.21S1381.26,1526.99,1381.72,1527.26Zm-1.93,22.26,19.1-11.03c0.46-.27,1.28.29,1.83,1.25s0.63,1.95.17,2.21l-19.1,11.03c-0.46.26-1.28-.3-1.83-1.25S1379.33,1549.78,1379.79,1549.52Z', transform='translate(-1352 -1527.19)')
	// Title
	// Sub Title
	// Title -- Center
	// Sub Title -- Center
	// Form Group
	// CARDS
	// initialization
	// Card -- Who Need Help
	// Card -- Event
	// Card -- Product Item
	// Card -- Team Member
	.shop-grid-padd.shop-grid-bg.js-parallax-shop_grid
		.container
			// Section Title
			p.h1.title--white Магазин EDUKIDS
			p.text-white
				| А ще, ми пропонуємо Вам придбати ексклюзивний товар
				br
				| купуючи який, Ви також допомагаете діткам.
			.clearfix
				.pull-left.title-divider.title-divider--white
				// Shop Items Filter
				.pull-right
					ul.list-inline.list-filters
						li
							a.text-white(href='#') популярні
						li
							a.text-white(href='#') спочатку дешеві
						li
							a.text-white(href='#') спочатку дорогі
			// Items Grid
			.row.md-grid-animate.row-flex-grid
				// Shop Item Card -----------------------
				.col-sm-6.col-md-3.reveal
					.card-product
						// Image
						.card-product-image
							img(src='img/shop-card-img-1.jpg', alt='')
						.card-product-caption
							// Title
							p.card-product-title Глиняна чашка “Новий рік”
							// Price
							p.card-product-price
								span 115, 00
								| грн
							.btn.btn-block.btn-primary Придбати
				// Shop Item Card -----------------------
				.col-sm-6.col-md-3.reveal
					.card-product
						// Image
						.card-product-image
							img(src='img/shop-card-img-2.jpg', alt='')
						.card-product-caption
							// Title
							p.card-product-title Книжка “Мрії”
							// Price
							p.card-product-price
								span 125, 00
								| грн
							.btn.btn-block.btn-primary Придбати
				// Shop Item Card -----------------------
				.col-sm-6.col-md-3.reveal
					.card-product
						// Image
						.card-product-image
							img(src='img/shop-card-img-3.jpg', alt='')
						.card-product-caption
							// Title
							p.card-product-title Чашка “Кіс”
							// Price
							p.card-product-price
								span 135, 00
								| грн
							.btn.btn-block.btn-primary Придбати
				// Shop Item Card -----------------------
				.col-sm-6.col-md-3.reveal
					.card-product
						// Image
						.card-product-image
							img(src='img/shop-card-img-4.jpg', alt='')
						.card-product-caption
							// Title
							p.card-product-title Глиняна чашка “Сальвадор”
							// Price
							p.card-product-price
								span 145, 00
								| грн
							.btn.btn-block.btn-primary Придбати
				// Shop Item Card -----------------------
				.col-sm-6.col-md-3.reveal
					.card-product
						// Image
						.card-product-image
							img(src='img/shop-card-img-1.jpg', alt='')
						.card-product-caption
							// Title
							p.card-product-title Глиняна чашка “Новий рік”
							// Price
							p.card-product-price
								span 235, 00
								| грн
							.btn.btn-block.btn-primary Придбати
				// Shop Item Card -----------------------
				.col-sm-6.col-md-3.reveal
					.card-product
						// Image
						.card-product-image
							img(src='img/shop-card-img-2.jpg', alt='')
						.card-product-caption
							// Title
							p.card-product-title Книжка “Мрії”
							// Price
							p.card-product-price
								span 335, 00
								| грн
							.btn.btn-block.btn-primary Придбати
				// Shop Item Card -----------------------
				.col-sm-6.col-md-3.reveal
					.card-product
						// Image
						.card-product-image
							img(src='img/shop-card-img-3.jpg', alt='')
						.card-product-caption
							// Title
							p.card-product-title Чашка “Кіс”
							// Price
							p.card-product-price
								span 435, 00
								| грн
							.btn.btn-block.btn-primary Придбати
				// Shop Item Card -----------------------
				.col-sm-6.col-md-3.reveal
					.card-product
						// Image
						.card-product-image
							img(src='img/shop-card-img-4.jpg', alt='')
						.card-product-caption
							// Title
							p.card-product-title Глиняна чашка “Сальвадор”
							// Price
							p.card-product-price
								span 140, 00
								| грн
							.btn.btn-block.btn-primary Придбати
			// Bottom Link
			.text-right
				a.btn.btn-arr.btn-arr-white(href='#')
					| Всі товари
					.ico-arr-right
						svg(xmlns='http://www.w3.org/2000/svg', width='50', height='25.87', viewbox='0 0 50 25.87')
							path(d='M1354,1538h46a2,2,0,0,1,0,4h-46A2,2,0,0,1,1354,1538Zm27.72-10.74,19.1,11.03c0.46,0.26.38,1.25-.17,2.21s-1.37,1.52-1.83,1.25l-19.1-11.03c-0.46-.26-0.39-1.25.17-2.21S1381.26,1526.99,1381.72,1527.26Zm-1.93,22.26,19.1-11.03c0.46-.27,1.28.29,1.83,1.25s0.63,1.95.17,2.21l-19.1,11.03c-0.46.26-1.28-.3-1.83-1.25S1379.33,1549.78,1379.79,1549.52Z', transform='translate(-1352 -1527.19)')
	.bg-grey.section-review-padding
		.container
			p.h1 Теплі слова про EDUKIDS
			.title-divider.title-divider--pink
			// Slider
			.slider-reviews
				// Slide Item
				.review-slide
					p.review-slide-text.quote-ico
						| Ми - некомерційна організація, діяльність якої пов’язана з пропагандою освіти, зокрема позашкільної, як основи для добробуту та гармонійного розвитку кожної дитини. Ми - некомерційна організація, діяльність якої пов’язана.
					p.h3 Іван Івнович
					p
				// Slide Item
				.review-slide
					p.review-slide-text.quote-ico
						| Ми - некомерційна організація, діяльність якої пов’язана з пропагандою освіти, зокрема позашкільної, як основи для добробуту та гармонійного розвитку кожної дитини.
					p.h3 Петро Петрович
					p
				// Slide Item
				.review-slide
					p.review-slide-text.quote-ico
						| Ми - некомерційна організація, діяльність якої пов’язана з пропагандою освіти, зокрема позашкільної, як основи для добробуту та гармонійного розвитку кожної дитини. Ми - некомерційна організація, діяльність якої пов’язана.
					p.h3 Іван Івнович
					p
				// Slide Item
				.review-slide
					p.review-slide-text.quote-ico
						| Ми - некомерційна організація, діяльність якої пов’язана з пропагандою освіти, зокрема позашкільної, як основи для добробуту та гармонійного розвитку кожної дитини.
					p.h3 Петро Петрович
					p
	.container.section-our-partners-padding
		p.h1 Наші партнери
		.title-divider.title-divider--pink
		// Slider
		.slider-our-partners
			// Slides
			.our-partners-slide
				img.partner-logo(src='img/partners/nova_poshta.png', alt='')
			.our-partners-slide
				img.partner-logo(src='img/partners/mc_donalds.png', alt='')
			.our-partners-slide
				img.partner-logo(src='img/partners/epicentr_logo.png', alt='')
			.our-partners-slide
				img.partner-logo(src='img/partners/ukr_poshta.png', alt='')
			.our-partners-slide
				img.partner-logo(src='img/partners/nova_poshta.png', alt='')
			.our-partners-slide
				img.partner-logo(src='img/partners/mc_donalds.png', alt='')
			.our-partners-slide
				img.partner-logo(src='img/partners/epicentr_logo.png', alt='')
			.our-partners-slide
				img.partner-logo(src='img/partners/ukr_poshta.png', alt='')
	.section-slider-gallery
		// Slider
		.slider-gallery
			// Slides
			.gallery-slide
				img(src='img/gallery/slide-1.jpg', alt='')
			.gallery-slide
				img(src='img/gallery/slide-2.jpg', alt='')
			.gallery-slide
				img(src='img/gallery/slide-3.jpg', alt='')
			.gallery-slide
				img(src='img/gallery/slide-4.jpg', alt='')
			.gallery-slide
				img(src='img/gallery/slide-5.jpg', alt='')
			.gallery-slide
				img(src='img/gallery/slide-1.jpg', alt='')
			.gallery-slide
				img(src='img/gallery/slide-2.jpg', alt='')
			.gallery-slide
				img(src='img/gallery/slide-3.jpg', alt='')
			.gallery-slide
				img(src='img/gallery/slide-4.jpg', alt='')
			.gallery-slide
				img(src='img/gallery/slide-5.jpg', alt='')
		// Overlay Blocks
		.overlay-left
		.overlay-right
	// Title
	// Sub Title
	// Title -- Center
	// Sub Title -- Center
	// Form Group
	// CARDS
	// initialization
	// Card -- Who Need Help
	// Card -- Event
	// Card -- Product Item
	// Card -- Team Member
	.container
		.row
			// Column -- Contact
			// -------------------------------------------------------------
			.col-sm-5.col-md-4.col-lg-3.contact-column
				p.h1 Контакти
				.title-divider.title-divider--grey
				// Contact -- Phone Info
				dl
					dt Телефони:
					dd
						a(href='tel:+380635557373') + 38 (063) 555 73 73
						br
						a(href='tel:+380635557373') + 38 (063) 555 73 73
				// Contact -- Mail Info
				dl
					dt E-mail:
					dd
						a(href='mailto:edukids@gmail.com') edukids@gmail.com
				// Contact -- Mail Info
				dl
					dt Адреса:
					dd
						| вулиця Маршала Рибалка, 3а
						br
						| 2 поверх, офіс 5
				// Contact -- Facebook
				ul.list-inline.contact-fb-group
					li
						p.fb-text
							| Слідкуйте за нашими
							br
							| досягненнями у фейсбук:
					li
						a.fb-ico(href='#', target='_blank')
							i.fa.fa-facebook
			// Column -- Images
			// -------------------------------------------------------------
			.col-md-3.col-lg-4.contact-column.hidden-sm
				.clearfix
					img.footer-img-1(src='img/footer-contact_img-1.png', alt='')
				.clearfix
					img.footer-img-2(src='img/footer-contact_img-2.png', alt='')
			// Column -- Form
			// -------------------------------------------------------------
			.col-sm-7.col-md-5.contact-border.contact-column
				.contact-form-wrapp
					p.h1 Залишились питання?
					.title-divider.title-divider--grey
					p Пишіть нам - будемо думати :)
					form.form
						.form-group
							input.form-control(required='')
							label
								| Ім’я
								span.required *
								| :
						.form-group
							input.form-control(required='')
							label
								| E-mail
								span.required *
								| :
						.form-group
							input.form-control
							label Телефон:
						.form-group
							textarea.form-control(name='message', required='')
							label
								| Повідомлення
								span.required *
								| :
						.text-right
							button.btn.btn-arr.btn-arr-rubin(type='submit')
								| Надіслати
								.ico-arr-right
									svg(xmlns='http://www.w3.org/2000/svg', width='50', height='25.87', viewbox='0 0 50 25.87')
										path(d='M1354,1538h46a2,2,0,0,1,0,4h-46A2,2,0,0,1,1354,1538Zm27.72-10.74,19.1,11.03c0.46,0.26.38,1.25-.17,2.21s-1.37,1.52-1.83,1.25l-19.1-11.03c-0.46-.26-0.39-1.25.17-2.21S1381.26,1526.99,1381.72,1527.26Zm-1.93,22.26,19.1-11.03c0.46-.27,1.28.29,1.83,1.25s0.63,1.95.17,2.21l-19.1,11.03c-0.46.26-1.28-.3-1.83-1.25S1379.33,1549.78,1379.79,1549.52Z', transform='translate(-1352 -1527.19)')
					// Mobile Image Before Footer
					.footer-img-1-xs
						img(src='img/footer-contact_img-1.png', alt='')
	footer
		.container.container-footer
			// Logo
			img(src='img/logo-footer.png', alt='')
			// Developer
			a.developer-link(href='https://greenweb.com.ua/', target='_blank')
				img.developer-img(src='img/logo-devs.png', alt='')
