head
	meta(http-equiv='Content-Type' content='text/html; charset=utf-8')
	meta(http-equiv='X-UA-Compatible' content='IE=edge')
	meta(name='viewport' content='width=device-width, initial-scale=1')
	base(href='/dist/')

	title(ng-bind="ngMeta.title") myApp
	meta(name='description', content='{{ ngMeta.description }}')

	link(rel='shortcut icon' href='favicon.ico')
	link(href='css/bootstrap.min.css' rel='stylesheet')
	link(href='css/plugins.min.css' rel='stylesheet')
	link(href='css/style.min.css' rel='stylesheet')

	// Scripts
	script(src='js/libs.min.js')
	script(src='js/app.min.js')
	script(src='js/script.min.js')
